.users-selected {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}

.delete-times {
    background-color: #f00;
    border-color: #f00;
    padding: .3rem;
    border-radius: .6rem;
}

.delete-times:hover {
    color: #f00;
}

.user-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}