.auth-page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-page .log-fragment {
    background-color: #fff;
    padding: 1.4rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-page .log-fragment .title {
    font-size: 1.4em;
}

.auth-page .log-fragment form {
    display: flex;
    flex-direction: column;
}

.auth-page .log-fragment form * {
    margin: 1rem;
}

.login-btn {
    text-align: center;
}